# Python virtual environment
venv/

# PyCharm / JetBrains
.idea/

# Python cache
__pycache__/
*.py[cod]

# System files
.DS_Store
Thumbs.db


# ignore folder with distributions plots
/01-data-basics/distributions_plots/
